<html>
	<body align='center'>
		<form action = "/Login/" method = "POST"> {% csrf_token %} 
			Username:   <input type = "text" name = "user" ><br></br>
			Password:  <input type = "password" name = "pwd"><br></br>
			Reset_Password:  <input type = "pwd" name = "npwd"><br></br>
			Conform_Password:  <input type = "pwd" name = "npwd1"><br></br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type = "submit" value= "Login">
		</form>
	</body>
</html>